@import "appwide";

.instructor-info {
  position: relative;
  width: 100%;
  padding: 2em 1em 1em 1em;
  width: 90%;
  border-top: 1px solid #DBDBDB;
}

.instructor-info img {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

.instructor-info .instructor-title {
  position: relative;
  display: inline-block;
  vertical-align: top;
  line-height: 180%;
  margin-left: 1em;
}

.instructor-title h3 {
  margin: 0;
}

.instructor-title a {
  margin: 0;
  color: $primary-green;
  &:active, &:focus, &:visited {
    color: $primary-green;
  }
  &:hover {
    color: $dark-green;
  }
}