@import "appwide";

.new-course-nav-bar {
  @include transition(0.4s);
  height: 100vh;
  position: fixed;
  right: 0;
  width: 400px;
  background-color: $white;
  z-index: 10;
  box-shadow: 0 0 10px $darkest-gray;
  i {
    @include transition(0.3s);
    color: $text-gray;
    outline: none;
  }
  .course-nav-left {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 100%;
    font-size: 2em;
    margin: 0;
    background-color: $white;
    z-index: 10;
    .nav-icons {
      margin-top: 0.3em;
      position: relative;
      height: 60px;
      width: 100%;
      .hide-new-course-nav,
      .show-new-course-nav {
        @include transition(0.3s);
        @include position-center(absolute, 50%, 50%);
      }
    }
    .new-course-icons {
      position: relative;
      margin: 1em 0;
      width: 100%;
      .course-nav-icons {
        position: relative;
        margin: 0 auto;
        text-align: center;
      }
    }
  }
  .course-nav-content {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 315px;
    height: 100%;
    margin: 0;
    padding: 0 1.2em;
    z-index: 10;
    .nav-content-title {
      padding: 0.6em 0 1em 0;
      font-size: 1.9em;
      color: $text-gray;
      letter-spacing: 1px;
    }
    .new-course-label {
      color: $text-gray;
      font-size: 1.3em;
      letter-spacing: 1px;
    }
    .new-course-form {
      position: relative;
      height: 100%;
      width: 100%;
      overflow-y: scroll;
      h1 {
        margin: 0 0 10px 0;
      }
      p {
        color: $text-gray;
      }
      .new-course-form-slug {
        width: 100%;
        margin-bottom: 1em;
        input {
          @include invisible-input-field-style;
          display: inline-block;
          vertical-align: top;
          width: 100px;
          font-size: 1.1em;
          margin: 0 0.5em 1em 0;
        }
        p {
          display: inline-block;
          vertical-align: top;
          font-size: 1.7em;
          text-align: right;
          margin: 0 10px 0 0;
          color: $dark-green;
        }
      }
      input[type=text] {
        @include invisible-input-field-style;
        width: 100%;
        font-size: 1.1em;
        margin-bottom: 1.2em;
      }
      .new-course-form-description, textarea {
        @include invisible-input-field-style;
        font-size: 1.05em;
        width: 100%;
        min-height: 300px;
        height: 300px;
        max-height: 500px;
        margin-bottom: 1em;
        white-space: pre;
      }
      .create-course-button {
        position: absolute;
        bottom: 1.5em;
        input[type=submit] {
          @include button-style($primary-green, $dark-green);
          font-size: 1.3em;
        }
      }
    }
  }
}

.nav-bar-hide {
  right: -330px;
}

.active {
  i {
    color: $dark-green;
  }
}

#submitting-course {
  position: absolute;
  bottom: 1.5em;
  margin: 2em;
}