@import "appwide";

.new-course-page-container {
  position: relative;
  height: 100%;
  width: 100%;
  .create-course-button {
    @include button-style($primary-green, $dark-green);
    position: fixed;
    bottom: 20px;
    left: 20px;
    font-size: 1.8em;
  }
}

.new-course-form {
  .course-start-date-picker {
    margin: 0 auto;
    .datepicker__input {
      width: 80%;
    }
  }
  input {
    &:focus {
      outline: none;
    }
  }
  .save-info-button {
    @include button-style($primary-green, $dark-green);
    margin: 1em auto 0 auto;
    font-size: 1.4em;
  }
  .cannot-save-info-button {
    text-align: left;
    font-weight: 600;
    font-size: 1.4em;
    border-style: none;
    margin: 1em auto 0 auto;
    padding: 0.3em 1em;
    color: $white;
    background-color: $gray;
    box-shadow: 0 8px 0 $light-gray;
    width: auto;
    &:focus {
      outline: none;
    }
  }
}