@import "appwide";

.new-course-page-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.new-course-form {
  input {
    &:focus {
      outline: none;
    }
  }
}

.course-background-banner {
  position: relative;
  top: 0;
  margin: 0;
  min-height: 300px;
  height: 30vh;
  background-color: $dark-gray;
  opacity: 0.7;
  .course-title-field {
    position: absolute;
    bottom: 0.5em;
    left: 0.5em;
    width: 60%;
    font-size: 2.5em;
    font-weight: 600;
    color: $white;
  }
}

.course-info-section {
  padding: 1em;
  position: relative;
  height: 300px;
  width: 100%;
  .course-summary-field {
    position: relative;
    margin: 0;
  }
}