@import "appwide";

.new-course-page-container {
  position: relative;
  height: 100%;
  width: 100%;
  .create-course-button {
    @include button-style($primary-green, $dark-green);
    position: fixed;
    bottom: 20px;
    left: 20px;
    font-size: 1.8em;
  }
  .no-create-course-button {
    @include fake-button-style($gray, $light-gray);
    position: fixed;
    bottom: 20px;
    left: 20px;
    font-size: 1.8em;
    &:focus {
      outline: none;
    }
  }
}

.new-course-form {
  .course-start-date-picker {
    margin: 0 auto;
    .datepicker__input {
      width: 80%;
    }
  }
  input {
    &:focus {
      outline: none;
    }
  }
  p {
    color: $white;
    letter-spacing: 1px;
  }
  .save-info-button {
    @include button-style($primary-green, $dark-green);
    margin: 1em auto 0 auto;
    font-size: 1.4em;
  }
  .cannot-save-info-button {
    text-align: left;
    font-weight: 600;
    font-size: 1.4em;
    border-style: none;
    margin: 1em auto 0 auto;
    padding: 0.3em 1em;
    color: $white;
    background-color: $gray;
    box-shadow: 0 8px 0 $light-gray;
    width: auto;
    &:focus {
      outline: none;
    }
  }
}

.image-uploader-wrapper {
  position: relative;
  z-index: 101;
  .image-uploader {
    position: relative;
    z-index: 2;
    opacity: 0;
    -moz-opacity: 0;
    text-align: right;
    width: 100%;
    height: 100%;
    margin-bottom: 1em;
    font-size: 1.5em;
    &:hover {
      cursor: pointer;
    }
  }
  .fake-uploader {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    margin-bottom: 1em;
  }
}

.preview-email {
  @include transition(0.3s);
  padding: 1em 0;
  &:hover {
    cursor: pointer;
    color: $dark-green;
  }
}

.no-margin {
  margin-bottom: 0;
}

.save-date {
  padding-bottom: 0;
  top: 30px;
}