@import "appwide";

.course-background-banner {
  position: relative;
  top: 0;
  margin: 0;
  min-height: 300px;
  height: 30vh;
  background-color: $dark-gray;
  overflow: hidden;
  @include mobile-viewport {
    width: 100vw;
  }
  img {
    @include position-center(absolute, 50%, 50%);
    @include brightness(60%, 2px);
  }
  .course-title-field {
    @include position-center(absolute, 50%, 50%);
    font-size: 4em;
    font-weight: 600;
    color: $white;
    word-wrap: break-word;
    opacity: 1;
    z-index: 10;
    text-align: center;
    width: 100%;
    @include mobile-viewport {
      font-size: 2.8em;
      width: 100%;
    }
  }
}

.course-info-section {
  position: relative;
  margin: 3em auto;
  min-height: 600px;
  width: 70%;
  font-size: 1.2em;
  @include mobile-viewport {
    width: 95%;
  }
  .course-info-left {
    position: relative;
    vertical-align: top;
    display: inline-block;
    margin-right: 2em;
    width: 48%;
    @include mobile-viewport {
      @include position-x(relative, 50%);
      left: 50%;
      width: 100%;
      margin: 0 auto;
    }
    .instructor-info {
      box-shadow: 0 0 10px $gray;
      padding: 1.5em;
      margin-bottom: 3em;
      width: 100%;
    }
    .main-info {
      box-shadow: 0 0 10px $gray;
      padding: 1.5em;
      margin-bottom: 3em;
      .course-summary-field {
        position: relative;
        width: 95%;
        margin: 0 0 1em 0;
        word-wrap: break-word;
      }
      .course-description-field {
        position: relative;
        width: 95%;
        word-wrap: break-word;
        white-space: pre;
      }
    }
    .additional-info {
      box-shadow: 0 0 10px $gray;
      padding: 0.5em 1em;
    }
    .course-additional-info {
      .display-additional-div {
        margin: 1em 0;
        .display-detail-title {
        margin: 0;
        }
        p {
          margin: 0;
          font-weight: 400;
        }
      }
    }
  }
  .course-info-right {
    position: relative;
    display: inline-block;
    margin-left: 2em;
    width: 40%;
    .course-google-maps {
      position: relative;
      box-shadow: 0 0 10px $light-gray;
      height: 250px;
      width: 400px;
      margin-bottom: 3em;
      overflow: hidden;
      img {
        @include position-center(absolute, 50%, 50%);
      }
    }
    .user-signup-form {
      position: relative;
      box-shadow: 0 0 10px $gray;
      height: 620px;
      width: 400px;
      text-align: center;
      padding: 1em;
      .signup-form-title {
        margin: 0;
        font-size: 2em;
        color: $dark-green;
      }
      .user-signup-name-field,
      .user-signup-email-field {
        @include input-field-style;
        margin: 0.5em auto;
        width: 95%;
        height: 40px;
        font-size: 1.1em;
      }
      .user-signup-comment-field {
        @include input-field-style;
        margin: 0.5em auto;
        width: 95%;
        height: 200px;
        font-size: 1.1em;
      }
      .user-signup-submit-button {
        @include button-style($primary-green, $dark-green);
        margin: 0.5em auto;
        width: 95%;
        font-size: 1.2em;
      }
      .no-user-signup-submit-button {
        @include fake-button-style($gray, $light-gray);
        margin: 0.5em auto;
        width: 95%;
        font-size: 1.2em;
      }
    }
  }
}

.social-share-buttons {
  margin-bottom: 1.5em;
  width: 400px;
  text-align: center;
}