<div class="intro-container">
  <!-- background image -->
  <img src=<%= image_path("cover.jpg") %> class="full-background-image">

  <h1 class="intro-title">skillup</h1>
  <p class="intro-summary">A place where you can create courses, take courses and share your knowledge with the world.</p>

  <% if logged_in? %>
    <%= link_to "Create Course", new_course_path, class: "create-course-link" %>
  <% else %>
    <%= link_to "Create Course", root_path, class: " create-course-link non-user-create-course-link" %>
  <% end %>
  
  <div class="overlay hidden"></div>
  <%= render partial: "users/signupform" %>
  
</div>