<div class="new-course-page-container">
  <%= react_component("NewCourse",
    tabs: ["edit", "map-marker", "photo", "envelope-o"],
    course: @course,
    user: current_user,
    user_id: current_user.id,
    editing: false
  ) %> 
</div>
