@import "appwide";

.email-history-title {
  font-size: 1.8em;
}

.date-container {
  position: relative;
  min-width: 390px;
  width: 700px;
  padding: 1em;
  margin: 1em auto;
  .date-header {
    position: relative;
    text-align: center;
    letter-spacing: 1px;
    padding-bottom: 1em;
    margin-bottom: 1.5em;
    border-bottom: 1px solid #DBDBDB;
  }
  .date-emails-container {
    position: relative;
    margin: 1em 0;
    .email-container {
      @include border-shadow;
      position: relative;
      width: 100%;
      margin: 2em 0;
      padding: 1em;
      .email-info {
        position: relative;
        display: inline-block;
        text-align: right;
        width: 30%;
        button {
          @include button-style($primary-green, $secondary-green);
          font-size: 1em;
          margin: 0 0 1.5em 0;
        }
      }
      .email-body {
        position: relative;
        display: inline-block;
        text-align: left;
        vertical-align: top;
        width: 65%;
        word-wrap: break-word;
        white-space: pre;
        font-size: 1.1em;
        .email-text {
          @include transition(0.3s);
          margin-bottom: 1em;
          &:hover {
            color: $dark-green;
            cursor: pointer;
          }
        }
        span {
          position: relative;
          font-weight: 600;
          font-size: 0.9em;
        }
      }
      i {
        margin-right: 1em;
      }
      .user-count {
        font-weight: 400;
      }
    }
  }
}

.confirm-email-lightbox {
  @include position-center(fixed, 50%, 50%);
  box-shadow: 0 0 8px $gray;
  background-color: $white;
  padding: 1.5em;
  width: 600px;
  height: 600px;
  overflow: scroll;
  z-index: 101;
  .send-button {
    @include button-style($primary-green, $secondary-green);
    position: relative;
    margin: 0 auto 1em auto;
    font-size: 1.2em;
  }
  .exit-button {
    position: absolute;
    font-size: 1.3em;
    right: 0.5em;
  }
  .each-student {
    margin: 1em auto 1.5em auto;
  }
  .resend-student-container {
    @include fake-button-style($box-gray, $medium-gray);
    position: relative;
    width: 60%;
    margin: 0 auto;
    .student-name {
      position: relative;
      vertical-align: top;
      display: inline-block;
      margin: 0;
      font-size: 1.1em;
      color: $white;
      span {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        i {
          top: -1px;
        }
      }
    }
    i {
      @include position-y(absolute, 50%);
      top: 49%;
      right: 0;
      color: $white;
    }
  }
  .selected {
    @include fake-button-style($primary-green, $secondary-green);
    margin: 0 auto;
    i {
      color: $white;
    }
  }
}
