@import "appwide";

header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 90px;
  z-index: 2;
  margin: 0;
  background-color: transparent;
  @include mobile-viewport {
    width: 100%;
  }
  .header-left {
    position: relative;
    float: left;
    top: -8px;
    margin: 0 0 0 1em;
    display: inline-block;
    max-width: 50%;
    left: 0;
    height: 100%;
    text-align: center;
    a, a:visited, a:focus, a:active {
      @include position-y(relative, 50%);
      @include transition(0.4s);
      margin: 0;
      display: inline-block;
      color: $smoke-white;
      font-size: 3em;
      font-weight: 600;
      letter-spacing: -2px;
      &:hover {
        font-size: 2.7em;
      } 
    }
  }
  .header-right {
    position: relative;
    margin: 0;
    float: right;
    display: inline-block;
    min-width: 200px;
    right: 0;
    height: 100%;
    right: 1em;
    color: $smoke-white;
    .header-links {
      @include position-y(relative, 40%);
      display: inline-block;
      right: 0;
      margin: 0;
      font-size: 110%;
      font-weight: 600;
      img {
        vertical-align: middle;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        margin-right: 1em;
      }
      a {
        @include transition(0.3s);
        color: $smoke-white;
      }
    }
  }
}

// MAIN SECTION CONTAINER

section {
  position: relative;
  top: 0;
  height: 100vh;
  margin: 0;
  padding: 0;
  @include medium-viewport {
    width: 500px;
  }
  @include mobile-viewport {
    width: 370px;
  }
}


// FOOTER

footer {
  position: relative;
  margin: 0;
  height: 180px;
  background-color: $dark-gray;
  color: $medium-gray;
  a {
      color: $medium-gray;
      text-decoration: underline;
    }
  .top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50%;
  }
  .credits {
    @include position-x(absolute, 50%);
    width: 100%;
    bottom: 0;
    text-align: center;
    @include medium-viewport {
      width: 90%;
    }
    @include mobile-viewport {
      width: 80%;
    }
  }
}

.full-background-image {
  @include position-center(absolute, 50%, 50%);
  @include brightness(30%, 1px);
  height: 120vh;
  width: 130vw;
  padding: 0;
  overflow: hidden;
  margin: 0;
  z-index: -1;
}

.full-background-image2 {
  @include position-center(absolute, 50%, 50%);
  @include brightness(30%, 1px);
  height: 120vh;
  width: 130vw;
  padding: 0;
  overflow: hidden;
  margin: 0;
  z-index: -2;
}

.banner {
  @include position-y(relative, 50%);
  top: 0;
  left: 0;
  right: 0;
  height: 500px;
  margin: 0;
  background-color: #86E2D5;
  overflow: hidden;
}

.banner-background-image {
  @include position-x(absolute, 50%);
  @include brightness(30%, 0);
  top: 0;
  height: auto;
  width: 130vw;
  padding: 0;
  overflow: hidden;
  margin: 0;
  opacity: 0.7;
}