@import "appwide";

.popup-modal {
  @include position-center(absolute, 50%, 50%);
  width: 600px;
  height: 500px;
  z-index: 10;
  background-color: red;
  text-align: center;
  .exit-modal {
    position: absolute;
    top: 7px;
    right: 15px;
    font-size: 1.2em;
  }
  h1 {
    color: $white;
    font-size: 1.6em;
  }
  i {
    color: $white;
    &:hover {
      color: $secondary-green;
    }
  }
}

.backdrop {
  @include position-center(absolute, 50%, 50%);
  width: 200vw;
  height: 200vh;
  overflow: hidden;
  opacity: 0.9;
  background-color: $dark-gray;
  z-index: 9;
}