@import "appwide";

// FLASH

.flash-message {
  margin: 0 auto;
  text-align: center;
  font-size: 1.3em;
}

.notice {
  margin: 0 auto;
  text-align: center;
  color: green;
}

.alert {
  margin: 0 auto;
  text-align: center;
  color: $secondary-red;
}

.validation-error {
  color: $primary-red;
}

.form-error {
  color: $primary-red;
}

.new-course-alert-container {
  margin: 3em 0 0 0;
}

.error-message-box {
  position: relative;
  padding: 1em;
  color: $white;
  background-color: $primary-red;
  box-shadow: 0 8px 0 $secondary-red;
}

.success-message-box {
  position: relative;
  padding: 1em;
  color: $white;
  background-color: $primary-green;
  box-shadow: 0 8px 0 $secondary-green;
}
