@import "appwide";

// FLASH

.react-flash-message {
  @include position-x(fixed, 50%);
  font-size: 18px;
  font-weight: 600;
  background-color: $gray;
  box-shadow: 0 8px 0 $light-gray;
  margin: 0;
  left: 50%;
  top: 0;
  width: 50%;
  height: 60px;
  text-align: center;
  z-index: 8;
  padding: 1em;
  color: $white;
  .flash-exit {
    @include position-center(absolute, 50%, 50%);
    top: 50%; 
    left: 96%;
    font-size: 20px;
    color: $white;
    &:hover {
      color: $white;
    }
    i {
      color: $white;
      &:hover {
        color: $white;
      }
    }
  }
  h3 {
    @include position-center(absolute, 50%, 50%);
    top: 50%;
    left: 50%;
    margin: 0;
    display: inline-block;
  }
}

.flash-success,
.notice {
  background-color: $primary-green;
  box-shadow: 0 8px 0 $secondary-green;
}

.flash-error,
.alert {
  background-color: $primary-red;
  box-shadow: 0 8px 0 $secondary-red;
}


.flash-message {
  margin: 0 auto;
  text-align: center;
  font-size: 1.3em;
}

.validation-error {
  color: $primary-red;
}

.form-error {
  color: $primary-red;
}

.new-course-alert-container {
  margin: 3em 0 0 0;
}

.error-message-box {
  position: relative;
  padding: 1em;
  color: $white;
  background-color: $primary-red;
  box-shadow: 0 8px 0 $secondary-red;
}

.success-message-box {
  position: relative;
  padding: 1em;
  color: $white;
  background-color: $primary-green;
  box-shadow: 0 8px 0 $secondary-green;
  i {
    color: $white;
    &:hover {
      color: $white;
      cursor: default;
    }
  }
}
