@import "appwide";

// FLASH

.flash-message {
  margin: 1em auto;
  text-align: center;
  font-size: 1.3em;
}

.notice {
  margin: 0 auto;
  text-align: center;
  color: green;
}

.alert {
  margin: 0 auto;
  text-align: center;
  color: $secondary-red;
}

.validation-error {
  color: $primary-red;
}