@import "appwide";

.data-container {
  position: relative;
  margin: 2em auto;
  width: 70%;
  min-width: 370px;
  .data-navbar {
    @include border-shadow;
    margin: 0 1% 0 0;
    padding: 1em 2em;
    position: relative;
    float: left;
    display: inline-block;
    width: 25%;
    .tab {
      width: 100%;
      margin: 0.5em 0;
      text-align: right;
    }
    .active {

    }
  }
  .data-content {
    position: relative;
    display: inline-block;
    float: right;
    background-color: aliceblue;
    width: 75%;
    .dual-line-chart {
      // min-width: 100%;
      // min-height: 300px;
    }
  }
}