@import "appwide";

.edit-user-container {
  @include border-shadow;
  position: relative;
  margin: 0 auto;
  padding: 2em;
  width: 70%;
  text-align: left;
  font-size: 1.3em;
  .title {
    font-size: 2.2em;
    margin-top: 0;
  }
  label {

  }
  input {
    @include input-field-style; 
    @include input-focus-highlight($secondary-green);
    width: 200px;
    height: 30px;
  }
  textarea {
    @include input-field-style; 
    @include input-focus-highlight($secondary-green);
    width: 300px;
    height: 150px;
  }
  .save-profile {
    @include button-style($primary-green, $secondary-green);
  }
}