@import "appwide";

.edit-user-container {
  position: relative;
  padding: 1em 0 2em 0;
  margin: 0 auto;
  width: 600px;
  text-align: center;
  font-size: 1.3em;
  .title {
    margin: 0 0 1em 0;
    padding-bottom: 1em;
    border-bottom: 1px solid #DBDBDB;
  }
  label {
    font-size: 1.2em;
    text-align: left;
  }
  input {
    @include invisible-input-field-style;
    width: 400px;
    padding: 0.3em;
    font-size: 1.1em;
    margin: 0 auto 1em auto;
  }
  textarea {
    @include invisible-input-field-style;
    width: 400px;
    height: 200px;
    font-size: 1.1em;
    margin-bottom: 1em;
  }
  .image-uploader-wrapper {
    position: relative;
    text-align: center;
    margin: 0 auto;
    width: 400px;
    .image-uploader {
      margin-bottom: 0;
    }
  }
  .save-profile {
    @include button-style($primary-green, $secondary-green);
    padding: 0.5em;
    margin: 1em;
    width: 150px;
  }
}