@import "appwide";

.user-dashboard-container {
  position: relative;
  .user-dashboard-nav {
    position: relative;
    background-color: $dark-gray;
    padding: 1em;
    box-shadow: 0 0 10px $darkest-gray;
    .user-dashboard-tab {
      @include transition(0.3s);
      position: relative;
      display: inline-block;
      margin-right: 1.5em;
      font-size: 1.4em;
      font-weight: 400;
      color: $white;
      &:hover {
        color: $secondary-green;
        cursor: pointer;
      }
    }
    .active {
      color: $primary-green;
    }
  }
  .user-dashboard-content {
    position: relative;
    padding: 3em;
    .user-dashboard-course-container {
      @include transition(0.3s);
      position: relative;
      vertical-align: top;
      display: inline-block;
      margin: 1%;
      width: 23%;
      height: 0;
      padding-bottom: 18%;
      border-radius: $border-radius;
      box-shadow: 0 0 5px $medium-gray;
      .dashboard-course-title {
        @include position-center(absolute, 30%, 50%);
        color: $white;
        width: 90%;
        font-size: 1.5em;
        text-align: center;
      }
      .dashboard-options {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 30%;
        background-color: $dark-gray;
        padding: 1em;
          i {
            position: relative;
            margin: 0 1em 0 0;
            font-size: 1.5em;
            color: $white;
          }
      }
      img {
        @include brightness(20%);
        @include position-center(absolute, 50%, 50%);
        width: 100%;
        height: 101%;
        border-radius: $border-radius;
        opacity: 0.7;
      }
      &:hover {
        cursor: pointer;
        box-shadow: 0 0 8px $dark-gray;
      }
      i {
        @include position-center(absolute, 50%, 50%);
        font-size: 5em;
        color: $dark-gray;
        &:hover {
          color: $secondary-green;
        }
      }
    }
  }
}