@import "appwide";

.user-dashboard-container {
  position: relative;
  background-color: yellow;
  .user-dashboard-nav {
    position: relative;
    background-color: $dark-gray;
    padding: 1em;
    .user-dashboard-tab {
      @include transition(0.3s);
      position: relative;
      display: inline-block;
      margin-right: 1.5em;
      font-size: 1.4em;
      font-weight: 400;
      color: $white;
      &:hover {
        color: $secondary-green;
        cursor: pointer;
      }
    }
    .active {
      color: $primary-green;
    }
  }
}