<footer>
  <div class="top">
    
  </div>
  <div class="credits">
    <p>&copy; skillup | <%= Time.now.year %> All Rights Reserved | Proudly produced, ripen, and maintained fresh by <a href="http://www.johnnyji.com/" target="_blank">Johnny Ji</a></p>
  </div>
</footer>